<div class="large-100 small-100 medium-100">
    <article>
        <div class="column-group">
            <div class="large-5 medium-5 small-10 vote content-center javascript"> 
                <a alt="Vote for {{ job.title }}" title="Vote if you think this is a good job offer" href="#" data-vote="{{ job.id }}">
                    <i class="icon-circle-arrow-up icon-large"></i>
                </a>
                <span data-job-votes="{{ job.id }}">
                    {% if job.votes %}{{ job.votes }}{% else %}0{% endif %}
                </span>
            </div>
            <div class="large-95 medium-90 small-85 push-right">
                <header>
                    <h5>
                        <a href="{{ job.url }}" target="_blank">
                            {{ job.title }}
                            <i class="icon-external-link"></i>
                        </a>
                    </h5>
                </header>
                <section class="quarter-vertical-space">
                    <ul class="unstyled horizontal job-detail small quarter-vertical-space double-list-space">
                        {% if job.company %}
                        <li>
                            <span>Employer:</span> {{ job.company }}
                        </li>
                        {% endif %}

                        <li>
                            <span>Source:</span> {{ job.source }}
                        </li>

                        <li>
                            <span>Location:</span> {{ job.location }}
                        </li>
                        {% if job.technologies.length > 0 %}
                        <li>
                            <span>Keywords:</span>
                            {% for technology in job.technologies %}
                            <a class="keyword" href="#">{{ technology }}</a>
                            {% endfor %}
                        </li>
                        {% endif %}
                    </ul>
                </section>
            </div>
            <!--
            <div class="large-10 medium-15 small-20 job-icons">
                <ul class="unstyled horizontal">
                    <li>
                    <a href="http://sapo.pt/" target="_blank">
                        <img src="/public/imgs/icon/sapo_icon.png" title="Posted by Sapo" alt="Sapo logo">
                    </a>
                    </li>
                    <li>
                    <a href="http://itjobs.pt" target="_blank">
                        <img src="/public/imgs/icon/itjobs_icon.png" alt="ITJobs logo" title="Posted in ITJobs">
                    </a>
                    </li>
                </ul>
            </div>
            -->
        </div>
    </article>
    <hr />
</div>
