<div class="large-100 small-100 medium-100">
    <article>
        <div class="column-group">
            <div class="large-10 medium-10 small-10 vote"> 
                <a title="Vote if you think this is a good job offer" href="javascript:void(0)" data-vote="23">
                    <i class="icon-circle-arrow-up icon-large"></i>
                </a>
                <span data-vote-count="23">
                    0
                </span>
            </div>
            <div class="large-80 medium-75 small-70">
                <header>
                    <h5>
                        <a href="http://itjobs.pt/oferta/85164/business-analysts" target="_blank">
                            Programador Java Júnior
                            <i class="icon-external-link"></i>
                        </a>
                    </h5>
                </header>
                <section class="quarter-vertical-space">
                    <ul class="unstyled horizontal job-detail small quarter-vertical-space double-list-space">
                        <li>
                        <span>Employer:</span> <a href="http://www.sapo.pt/">Sapo</a>
                        </li>
                        <li>
                        <span>Source:</span> <a href="http://itjobs.pt/">ITJobs</a>
                        </li>
                        <li>
                        <span>Location:</span> Lisbon, Portugal
                        </li>
                        <li>
                        <span>Keywords:</span>
                        <a class="keyword" href="#">Java</a>
                        <a class="keyword" href="#">Python</a>
                        <a class="keyword" href="#">Spring</a>
                        <a class="keyword" href="#">Oracle</a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="large-10 medium-15 small-20 job-icons">
                <ul class="unstyled horizontal">
                    <li>
                    <a href="http://sapo.pt/" target="_blank">
                        <img src="/public/imgs/icon/sapo_icon.png" title="Posted by Sapo" alt="Sapo logo">
                    </a>
                    </li>
                    <li>
                    <a href="http://itjobs.pt" target="_blank">
                        <img src="/public/imgs/icon/itjobs_icon.png" alt="ITJobs logo" title="Posted in ITJobs">
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </article>
    <hr />
</div>
