<div class="column-group gutters half-vertical-space">
    <div class="large-60 medium-50 small-100">
        <h1 class="logo">
            <a href="/">
                Werk.IO
            </a>
            <small>The IT job marketplace done right</small>
        </h1>
    </div>

    <div class="large-40 medium-50 small-100">
        <nav class="ink-navigation">
            <ul class="menu horizontal">
                <li>
                <a href="/about">About</a>
                </li>
                <li>
                <a href="/recruiters">Recruiters</a>
                </li>
                <li>
                <a href="/login">Login</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
