{% extends 'layout/base.html' %}
{% block content %}
<div class="large-70 medium-80 small-100">
    <h2>About this project</h2>

    <div>
        <iframe src="http://ghbtns.com/github-btn.html?user=diogoosorio&repo=werk.io&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
    </div>

    <p>
        The Portuguese IT market is saturated with consultancy agencies. The vast majority have little to none scruples when dealing with guys like me (whose a developer). To find a "real" company that's hiring is a difficult, laborious task, as the major job offer websites are saturated with offers from consultancy agencies.
    </p>

    <p>
        A couple of weekends ago I've spent a couple of hours writting a scrapper that would extract information of offers that I'd potentially be interested into. When commuting to work, a (not so) brilliant idea cross my mind - what if I wasn't guy with this issue?
    </p>

    <p>
        The truth is that the job listing websites (for commercial reasons) don't have a real interest in filtering out offers from consultancy agencies (they are the ones who actually pay to have offers published). Last weekend I've decided to write a quick web interface that would answer this specific necessity, this website as you might have guessed is the final result.
    </p>
</div>

<div class="large-30 medium-20 small-100 copy-text">
    <h5>About me</h5>

    <div class="small">
        <p>
            I'm an web-developer based in the beautiful city of Lisbon (Portugal), right now
            proudly working for <a href="http://www.sapo.pt/" target="_blank">SAPO</a>.
        </p>

        <p>
            Check out my <a href="http://diogoosorio.com/" target="_blank">blog</a> for more about me.
        </p>
    </dov>

    <div class="column-group">
        <div class="large-100 small-100 medium-100">
            <ul class="unstyled horizontal">
                <li>
                    <a href="http://diogoosorio.com" target="_blank">
                        <i class="icon-edit-sign"></i>
                        Blog
                    </a>
                </li>
                <li>
                    <a href="http://github.com/diogoosorio/" target="_blank">
                        <i class="icon-github-sign"></i>
                        Github
                    </a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/in/diogoosorio" target="_blank">
                        <i class="icon-linkedin-sign"></i>
                        Linkedin
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
