{% extends 'layout/base.html' %}
{% block content %}
<div class="large-100 medium-100 small-100">
    <p class="content-center">
        The latest IT job offers in Portugal. Consultancy agencies not allowed.
    </p>
    <div class="column-group vertical-space" data-job-container="true">
        {% for key, job_meta in jobs %}
        <div class="large-100 medium-100 small-100">
            <div class="day half-vertical-space">
                <i class="icon-calendar"></i>
                <time datetime="{{ moment(job_meta.date).format('YYYY-MM-DD') }}">
                    {{ moment(job_meta.date).format('dddd, MMMM Do') }}
                </time>
            </div>
            <div class="column-group relative">
                {% for job in job_meta.entries %}
                {% include 'partials/home/job-detail.html' %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        <div class="large-100 small-100 medium-100 vertical-space">
            <div class="push-right">
                {% include 'partials/common/pagination.html' %}
            </div>
            <!-- TODO -->
            <div class="content-center hidden">
                <a data-pagination="1" class="keyword" href="#">
                    Load more results
                    <i class="icon-angle-down"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
